/* EXERCÍCIO 1: fontes */
/* importá-las aqui... e definir as `font-family` da turminha... */
@import "fonts/ravie.css";
@import "fonts/verdana.css";

h1 {
  font-family: 'Ravie';
}

:not(h1) {
  font-family: 'verdana';
}

body {
  background-color: #fff;
  margin: 0px;
}

strong {
  color: #d027aa;
}

#recipiente {
  background-image: linear-gradient(to bottom, #f6f1b2, #4599b2 80%);
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  height: 100%;
}

#cardapio {
  background-color: rgba(255, 255, 255, 0.2);
  border-top: 1px solid #aac0ae;
  border-bottom: 1px solid #aac0ae;
  border-left: 1px solid #aac0ae;
}

#cardapio h3 {
  font-size: 18px;
  color: #333;
  margin-top: 30px;
  padding-left: 20px;
}

#cardapio article {
  font-size: 14px;
  color: #333;
}


/* EXERCÍCIO 2: layout da página */
html,
body,
#recipiente {
  min-height: 100vh;
}
#recipiente {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 154px auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "lateral header"
    "lateral menu"
    "lateral footer";
}

#cabecalho-pagina {
  grid-area: header;
}

#lateral {
  grid-area: lateral;
}

#cardapio {
  grid-area: menu;
}

#rodape-pagina {
  grid-area: footer;
}



/* EXERCÍCIO 3: cabeçalho da página */
#cabecalho-pagina {
  margin-top: 10px;
  margin-bottom:10px;
  margin-right: 10px;
}

#cabecalho-pagina h1 {
  margin: 0;
  font-size: 36px;
  color: #e90c0c;
  font-weight: normal;
  text-align: center;
}

#cabecalho-pagina h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: normal;
  text-align: end;
}

/* EXERCÍCIO 4: cada item do menu */
#cardapio {
  padding: 0 20px;
}
article {
  display: flex;
  justify-content: space-between;
  line-height: 2em;
  padding-left: 20px;
}


/* EXERCÍCIO 5: o rodapé */
#rodape-pagina {
  display: flex;
  justify-content: flex-end;
  margin: 46px 15px 25px 0;
}

/* EXERCÍCIO 6: lateral */
#lateral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* EXERCÍCIO 7: o ticket */
#ticket {
  position: fixed;
  left: -89px;
  top: 50%;
  height: 84px;
  transition: left 0.3s cubic-bezier(.53,1.06,0,-0.6);
}

#ticket:hover {
  left: 0;
}


/* EXERCÍCIO 8: deslocamento no siri e peixe */
#siri {
  position: relative;
  top: 17px;
  left: -10px;
}

#peixe {
  position: relative;
  left: -44px;
}

/* EXERCÍCIO 9: bolhas - no HTML e no JS */
/* --- */


/* EXERCÍCIO 10: modo escuro */
/* no início deste arquivo (depois dos @import), coloque
   as custom properties */
/* coloque aqui a media query para sobrescrever o valor
   das custom properties para o modo escuro */